// Bootgenie specific style definitions

// Page header
.logo, .logo_name {
	float: left;
}

.logo_name {
	margin-right: 15px;
}

// Navigation
.nav li img {
	float: left;
	margin-right: 5px;
}

// Page footer
footer {
	margin-top: 15px;
}

footer .container {
	padding-top: 15px;
	border-top: 1px solid @gray-lighter;
}
