// Bootgenie specific style definitions

// Page header
.navbar-brand img {
  float: left;
  margin-right: 15px;
}

// Navigation
.nav li img {
  float: left;
  margin-right: 5px;
}

#main-menu {
  @extend .nav;
  @extend .navbar-nav;
  @extend .yamm;
}

#user-menu {
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-right;
  @extend .yamm;
}

.dropdown-menu {
  // form labels need to fit
  min-width: 350px;
}

// Override yamm-content padding
.yamm-content,
.yamm .yamm-content {
  padding: 3px 20px;
}

.dropdown-menu > li > div {
  @extend .yamm-content;
}

.dropdown-menu h3 {
  font-size: 1.2em;
  line-height: $line-height-base;
  margin: 3px 0;
}

// Links within the dropdown menu
.dropdown-menu > li > div a {
    display: block;
    padding: 3px 20px;
    margin: 0 -20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
}

// Hover/Focus state
.dropdown-menu > li > div a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}


// Breadcrumb

.breadcrumb li a {
  height: $input-height-base;
  line-height: $line-height-base;
  padding: $padding-base-vertical 0;
  display: inline-block;
}

.breadcrumb > li + li.breadcrumb-form::before {
  content: none;
  padding: 0px 5px;
  color: #CCC;
}

// Layout

#content_container {
  @extend .container;
}

.content-wrapper {
  @include make-row();
}

.content-wrapper .sidebar {
  @include make-lg-column(4);
  @include make-md-column(4);
  @include make-sm-column(4);
}

.content-wrapper .main {
  @include make-lg-column(8);
  @include make-md-column(8);
  @include make-sm-column(8);
}

.content-wrapper .main-fullwidth {
  @include make-lg-column(12);
  @include make-md-column(12);
  @include make-sm-column(12);
}

// Main

.list-group-item img {
  margin-right: 5px;
}

.alert h1, .alert .h1,
.alert h2, .alert .h2,
.alert h3, .alert .h3,
.alert h4, .alert .h4, 
.alert h5, .alert .h5,
.alert h6, .alert .h6 {
  margin-top: 0;
}

// Login

#regular_login_container {
  // @include make-md-column-offset(1);
  @include make-md-column(5);
  min-width: 50% !important; // 41.6667% + 8.333%
  padding-right: 8.333%; // same as one column + gutter
  border-right: 1px solid $gray-lighter;
}
#registration-button-container {
  @include make-md-column-offset(1);
  @include make-md-column(5);
}

.section-separator {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
  margin: 20px 0;

  > span {
    position: relative;
    display: inline-block;
    font-size: 1.6em;
  }

  > span:before,
  > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $gray-lighter;
  }

  > span:before {
    right: 100%;
    margin-right: 15px;
  }

  > span:after {
    left: 100%;
    margin-left: 15px;
  }
}

/**
 * Forms
 * 
 * Make all the forms horizontal by default
 */

form {
  @extend .form-horizontal;
}

label {
  @extend .control-label;
  @include make-sm-column(3);
}

input[type="text"], input[type="password"],
input[type="email"] {
  @extend .form-control;
}

.control-wrapper {
  @include make-sm-column(8);
}

.checkbox-wrapper {
  @include make-sm-column-offset(3);
  @include make-sm-column(8);

  label {
    @include make-sm-column(8);
    // repeat this here
    padding-left: 20px;
    text-align: left;
    font-weight: normal;
  }

  input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

.button-wrapper {
  @include make-sm-column-offset(3);
  @include make-sm-column(8);
}

.captcha-wrapper {
  @include make-sm-column-offset(3);
  @include make-sm-column(8);
  margin-bottom: 5px;
}

// Page footer
footer {
  margin-top: 15px;
  border-top: 1px solid $gray-lighter;
}

footer .container {
  padding-top: 15px;
}

.page-footer-content {
  @include make-lg-column(12);
  @include make-md-column(12);
  @include make-sm-column(12);
}
